@keyframes fadeIn {
    0% {
        opacity: 0;             /* Start fully transparent */
        transform: translateY(30px); /* Start below the normal position */
      }
      100% {
        opacity: 1;             /* End fully opaque */
        transform: translateY(0);   /* End at normal position */
      }
    }
  
.fade-in {
    animation: fadeIn 2s ease-in forwards;
    position: relative;
  }

body {
    background-color: #121212;
    color: #ffffff;
    font-family: 'Marlin softs', sans-serif;
    padding: 0 4%;
    white-space: nowrap;
}

header {
    padding: 1%;
}

main {
    margin-top: 30px;
}

footer {
    margin-top: 80px;
}

a {
    text-decoration: none;
    color: white;
}

p {
    margin: 0;
}

hr {
    border: 0; /* Remove the default border */
    height: 1px; /* Make the line thin */
    background-color: #ccc; /* Set the grey color */
  }

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-container {
    justify-content: center;
    align-items: center;
    display: inline-flex;
}

.logo {
    height: 80px;
    width: auto;
    margin-right: 15px;
}

.brand-name {
    font-size: 40px;
    font-weight: bold;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

.white {
    color: white;
}

.purple {
    color: #7D00FF;
}

.nav-links {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    align-items: center;
}

.contact-btn {
    border-radius: 13px;
    background-color: blueviolet;
    padding: 10px 50px;
    color: white;
    font-weight: 700;
}

.main-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 35px;
    flex-wrap: wrap; /* Allow wrapping of content */
}

.main-container div {
    width: 100%; /* Ensure full width for child divs */
    max-width: none;
    flex: 1;
}

.main-content {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: left;
    gap: 40px;
}

.content-top {
    font-weight: bold;
    font-size: 42px;
}

.content-mid {
    display: inline;
    font-size: small;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.content-mid p {
    padding-bottom: 10px;

}

.content-icon {
    display: flex;
    justify-content: left; /* Distribute space evenly */
    align-items: center;
    flex-wrap: wrap; /* Allow wrapping of icons */
    gap: 60px; /* Add gap between icons */
}

.about-icon {
    display: flex; /* Use flexbox for centering */
    align-items: center; /* Center vertically */
    justify-content: center; /* Center horizontally */
    width: 100px; /* Width of the circle */
    height: 100px; /* Height of the circle */
    border-radius: 50%; /* Makes it a circle */
    background-color:  #F08080; 
    color: black; /* Text color */
    font-size: 16px; /* Text size */
    font-weight: bold; /* Bold text */
    text-align: center; /* Center text */
    transition: background-color 0.3s ease; /* Smooth hover effect */
}

.project-icon {
    display: flex; /* Use flexbox for centering */
    align-items: center; /* Center vertically */
    justify-content: center; /* Center horizontally */
    width: 100px; /* Width of the circle */
    height: 100px; /* Height of the circle */
    border-radius: 50%; /* Makes it a circle */
    background-color:  #FA8072; 
    color: black; /* Text color */
    font-size: 16px; /* Text size */
    font-weight: bold; /* Bold text */
    text-align: center; /* Center text */
    transition: background-color 0.3s ease; /* Smooth hover effect */
}

.contact-icon {
    display: flex; /* Use flexbox for centering */
    align-items: center; /* Center vertically */
    justify-content: center; /* Center horizontally */
    width: 100px; /* Width of the circle */
    height: 100px; /* Height of the circle */
    border-radius: 50%; /* Makes it a circle */
    background-color:  #CD5C5C; 
    color: black; /* Text color */
    font-size: 16px; /* Text size */
    font-weight: bold; /* Bold text */
    text-align: center; /* Center text */
    transition: background-color 0.3s ease; /* Smooth hover effect */
}

.content-icon a:hover {
    background-color: white;
}

.face-image {
    width: 80%;
    height: 80%;
    border-radius: 50%;
    padding-left: 30px;
}


.footer {
    display: flex;
    justify-content: space-between;
    align-items: top;
    margin-top: 30px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

.footer-title {
    font-weight: bold;
    font-size: large;
}

.footer-content {
    font-weight: 300;
    font-size: medium;
    padding-top: 10px;
}

.social-media a {
    margin-right: 10px;
    font-size: 30px;
}

.copyright {
    font-size: x-small;
    font-style: italic;
    margin-top: 10px;
}